In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [3]:
df_iloc = df.sample(20).sort_index()
df_iloc

     A   B   C   D
3   45  48  40  47
5   41  93  45  32
9   87  23  85  45
14   6  52  49  24
17   1  10  12  46
23   6  84  28  56
24  83  71  62  99
47  58  32  40  53
48  69  70  82  98
50  26  41  10  34
52   2  57  51  97
57   4  40  68  46
58  73  60   7  67
59  12  34  18  86
62  22  52  68   8
63  47  76  26  65
67  28  45  67  61
85  90  81  51  80
95  98  53  21  77
98  92  30  96  46

In [4]:
df_iloc.iloc[0]

A    45
B    48
C    40
D    47
Name: 3, dtype: int32

In [5]:
df_iloc.iloc[3]

A     6
B    52
C    49
D    24
Name: 14, dtype: int32