In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [3]:
df.loc[range(11)]

     A   B   C   D
0   56  43  19  29
1   26  36  12  35
2   61  73   1  44
3   57  12   5  41
4   94  36  26  74
5    9  66  36  60
6   62  19  69  71
7   44  82  56  88
8   91  68  38  79
9   34  22  72  72
10  37  65  87  18

In [4]:
df.loc[df['A']>5]

     A   B   C   D
0   56  43  19  29
1   26  36  12  35
2   61  73   1  44
3   57  12   5  41
4   94  36  26  74
5    9  66  36  60
6   62  19  69  71
7   44  82  56  88
8   91  68  38  79
9   34  22  72  72
10  37  65  87  18
11  32  40  30  24
12  55  52  95  27
13  14  96  55  51
14  62  62  29  74
15  27  23   8  88
16  60  73  35  77
17  64  44   3  24
18  64  56  69  75
19  15  30   5  78
20  55  84  85  84
21  47  69  83  81
22  57  12  24  56
23  46  99  51  52
24  55  24  54  88
25  49  64  95  58
26  74  80  94  26
28  99  42  76   9
29  54  39  11  71
30  25  76  25  61
..  ..  ..  ..  ..
69  32  67  51  84
70  20  72  90  30
71  46  13  13  14
72  15  10  72  40
73  36  71  10  97
74  66  44  33  97
75   6  61  37  97
76  99  64  55  37
77  19  72  55  59
78  88  73  54  99
79  63  22  46  79
80  52  29  44  95
81  44  84  47   6
82  64  48  27  66
83  96  49  97  86
84  63  43  93  69
85  36  16  47  77
86  84  70  59  42
87  99  63  71  79
88  92  40  10   3
89  57  48  84  46
90  28  42  60   0
91  50  67  74  26
92  12  61  57  90
93  93  82  64  95
94  39   8  62  21
95  93  85  83  80
97  12  12  12  53
98  62  31  92  19
99  59  74  69  42

[96 rows x 4 columns]

In [5]:
df.loc[df['A']>5, 'D']

0     29
1     35
2     44
3     41
4     74
5     60
6     71
7     88
8     79
9     72
10    18
11    24
12    27
13    51
14    74
15    88
16    77
17    24
18    75
19    78
20    84
21    81
22    56
23    52
24    88
25    58
26    26
28     9
29    71
30    61
      ..
69    84
70    30
71    14
72    40
73    97
74    97
75    97
76    37
77    59
78    99
79    79
80    95
81     6
82    66
83    86
84    69
85    77
86    42
87    79
88     3
89    46
90     0
91    26
92    90
93    95
94    21
95    80
97    53
98    19
99    42
Name: D, Length: 96, dtype: int32

In [6]:
df.loc[df['A']>5, ['B','D']]

     B   D
0   43  29
1   36  35
2   73  44
3   12  41
4   36  74
5   66  60
6   19  71
7   82  88
8   68  79
9   22  72
10  65  18
11  40  24
12  52  27
13  96  51
14  62  74
15  23  88
16  73  77
17  44  24
18  56  75
19  30  78
20  84  84
21  69  81
22  12  56
23  99  52
24  24  88
25  64  58
26  80  26
28  42   9
29  39  71
30  76  61
..  ..  ..
69  67  84
70  72  30
71  13  14
72  10  40
73  71  97
74  44  97
75  61  97
76  64  37
77  72  59
78  73  99
79  22  79
80  29  95
81  84   6
82  48  66
83  49  86
84  43  69
85  16  77
86  70  42
87  63  79
88  40   3
89  48  46
90  42   0
91  67  26
92  61  90
93  82  95
94   8  21
95  85  80
97  12  53
98  31  19
99  74  42

[96 rows x 2 columns]